<div class="confirmation-page-container">

    <h2>Biljett Bokad!</h2>
    <p>Du har bokat följande:</p>
    
    <ul>
        <li>Salong: ${this.repetoire.auditorium}</li>
        <li>Film: ${this.repetoire.movie}</li>
        <li>Datum: ${this.repetoire.date}</li>
        <li>Tid: ${this.repetoire.time}</li>
        <li>Gäster: ${this.repetoire.guests}</li>
        <li>Pris: ${this.repetoire.price}</li>
        <li>Plats Bokad: ${this.repetoire.seatsTaken}</li>
    </ul>
    
</div>